<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.management.mapper.master.ContractMasterMapper">

    <select id="setCartInfo" parameterType="HashMap" resultType="HashMap">
        call cm.sp_mgt_cart_product(
            #{p_params}::json,
            #{p_rc}::int2,
            #{p_rm}::VARCHAR
        )
    </select>

</mapper>