<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.management.mapper.master.CustomerMasterMapper">

    <!-- 고객 가입  -->
    <select id="createCustomer" parameterType="HashMap" resultType="HashMap">
        CALL cu.sp_add_customer(
            #{p_params}::json,
            #{p_rm}::VARCHAR, 
            #{p_rc}::int2
        )
    </select>

    <!-- 고객 사용자 그룹 추가/수정/삭제  -->
    <select id="setCustUserGroup" parameterType="HashMap" resultType="HashMap">
        CALL cu.sp_mgt_user_group(
            #{p_params}::json,
            #{p_rm}::VARCHAR,
            #{p_rc}::smallint
        )
    </select>

    <!-- 고객 사용자 추가/수정/삭제  -->
    <select id="setCustUser" parameterType="HashMap" resultType="HashMap">
        CALL cu.sp_mgt_user(
            #{p_params}::json,
            #{p_rm}::VARCHAR,
            #{p_rc}::smallint
        )
    </select>
    
    <select id="commit">
		COMMIT
	</select>
	<select id="startTransaction">
		START TRANSACTION
	</select>
	<select id="rollback">
		ROLLBACK
	</select>

</mapper>