<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.management.mapper.master.ProductMasterMapper">

    <select id="setProduct" parameterType="HashMap" resultType="HashMap">

        call pm.sp_mgt_product_group(
            #{jsonParameter}::json,
            #{rc}::int2, 
            #{rm}::VARCHAR
        )
    </select>

    <select id="setOptionCategory" parameterType="HashMap" resultType="HashMap">

        call pm.sp_mgt_option_group(
            #{jsonParameter}::json,
            #{rc}::int2, 
            #{rm}::VARCHAR
        )
    </select>

</mapper>