<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.management.mapper.slave.AdminSlaveMapper">

	<!-- 어드민 로그인정보 -->
	<select id="selectTest" resultType="String">
        SELECT 1
	</select>

    <!-- 코인 정보 -->
	<select id="selectCoin" resultType="hashmap">
        SELECT * from greedfear_log limit 10
	</select>

</mapper>