<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.management.mapper.slave.ContractSlaveMapper">



<select id="testQuery" resultType="String">

    select version()

</select>

<select id="getCartInfo" resultType="String" parameterType="String">
    <!-- 장바구니 조회 -->
    SELECT  cm.fn_get_json_cart_prodcut(#{p_cust_id});

</select>

</mapper>