<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.management.mapper.slave.CustomerSlaveMapper">

	<!-- 로그인정보 -->
	<select id="selectLogin" parameterType="HashMap" resultType="HashMap">
        CALL cu.sp_chk_login(
            #{p_id}::VARCHAR,
            #{p_rm}::VARCHAR, 
            #{p_rc}::int2,
            #{p_pw}::VARCHAR,
            #{p_cust_id}::VARCHAR,
            #{p_cust_nm}::VARCHAR
        )
	</select>

	<!-- 고객정보 체크-->
	<select id="checkCustomer" resultType="HashMap" parameterType="HashMap">
        SELECT * FROM 
            cu.fn_chk_cust_info(#{p_params}::json)
	</select>

</mapper>