<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.management.mapper.slave.RsiSlaveMapper">

	<select id="selectRsi" resultType="hashmap">
		SELECT idx, rsi, price, market, col_date
		FROM upbit_rsi_perf
	</select>

</mapper>